<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/>
    <title>Lab1 - Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body>
    <h1 class="display-1 col-sm-8">Home Page</h1>
    <form th:action="@{/login}" th:object=${command} method="post">
        <div class="form-group">
            <label for="email" class="col-sm-8 col-form-label">Email
                <span class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
            </label>
            <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="Enter email" id="email" th:field="*{email}">
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-sm-8 col-form-label">Password:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Enter password" id="pwd" th:field="*{pwd}">
            </div>
        </div>
        <div class="form-group form-check">
            <div class="col-sm-8">
                <input class="form-check-input" type="checkbox" id="checkbox">
                <label class="form-check-label" for="checkbox">
                    Remember me
                </label>
            </div>
        </div>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-secondary" th:href="@{/register}" role="button">Register</a>
        </div>
    </form>


    <!-- Bootstrap core JavaScript
================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>