<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/>
    <title>Lab1 - Register</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <h1 class="display-1 col-sm-8">Registration Page</h1>
    <form th:action="@{/register}" th:object=${command} method="post">
        <div class="form-group">
            <label class="col-sm-8 col-form-label" for="name">Name:
            <span class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
            </label>
            <div class="col-sm-8">
                <input th:field="*{name}" class="form-control" id="name" placeholder="Enter name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-8 col-form-label" for="lname">Last Name:
                <span class="alert-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"/>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="lname" placeholder="Enter last name" th:field="*{lastname}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-8 col-form-label" for="email">Email:
                <span class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
            </label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="email" placeholder="Enter email" th:field="*{email}">
            </div>
        </div>
        <div class="form-row col-sm-8 form-group">
            <div class="col">
                <label class="form-group" for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="8-64 characters" th:field="*{pwd}">
            </div>
            <div class="col">
                <label class="form-group" for="pwd">Repeat password:</label>
                <span class="alert-danger" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"/>
                <input type="password" class="form-control" id="pwd2" placeholder="Repeat password" th:field="*{pwd2}">
            </div>
        </div>
        <div class="form-group form-check">
            <span class="alert-danger" th:if="${#fields.hasErrors('privacy')}" th:errors="*{privacy}"/>
            <div class="col-sm-8">
                <input class="form-check-input" id="privacy" type="checkbox" th:field="*{privacy}">
                <label>
                    <span style="color: red">*</span> I accept the privacy policy
                </label>
            </div>
        </div>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>