<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="icon" href="../../favicon.ico"/>-->
    <title>Upload page</title>
<!--    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <h1 class="display-1 col-sm-8">Upload Page</h1>
    <form method="POST" th:action="@{/upload-csv-file}" enctype="multipart/form-data">
        <div class="form-group mt-3">
            <label for="file">Select a CSV file</label>
            <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
        </div>
        <button type="submit" class="btn btn-primary">Import Students</button>
    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>